<div class="card w-75">
    <div class="card-body">
        <h5 class="card-title studentName">Name: {{first_name}} {{last_name}}</h5>
        <p class="card-text studentGrade">Grade: {{grade}}</p>
        <p class="card-text teacher">Teacher: {{Teacher.first_name}} {{Teacher.last_name}}</p>
        {{!-- <p class="card-text studentDetention">{{detention}}</p> --}}
        <button class="card-button edit-button">Edit</button>
        <button class="card-button delete-button">Delete</button>
    </div>
</div>