<div class="card col-md-3">
    <div class="card-body">
        <h5 class="card-title studentName">Name: {{first_name}} {{last_name}}</h5>
        <p class="card-text studentGrade">Grade: {{grade}}</p>
        <p class="card-text teacher">Teacher: {{Teachers.first_name}} {{Teachers.last_name}}</p>
        {{!-- <p class="card-text studentDetention">{{detention}}</p> --}}
        <button class="card-button edit-button" value= {{id}}>Edit</button>
        <button class="card-button delete-button" value= {{id}}>Delete</button>
    </div>
</div>

<script>
    
</script>